.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.formulario {
  flex: 1 0 300px;
  margin-right: 20px;
  max-width: 300px;
  padding: 20px;
  background-color: #272626;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mostrar-promedio {
  flex: 0 0 100%;
  margin-top: 20px;
  padding: 20px;
  width: 15px;
  background-color: #272626;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.lista-notas {
  flex: 1 0 300px;
  margin-top: 20px;
  max-width: 300px;
  height: auto;
  padding: 20px;
  background-color: #272626;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #272626;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #4cdf2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
