.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contenedor-principal {
  display: flex;
  align-items: flex-start;
}

.contenedor-izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mostrar-promedio, .Formulario, .lista-notas {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  padding: 20px;
  background-color: #272626;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff; /* Color de texto blanco para contraste */
  margin: 10px;
}

.Formulario {
  margin-bottom: 20px; /* Espacio adicional debajo del formulario */
}

.lista-notas {
  max-width: 300px;
  margin-left: 20px;
  height: auto;
}

.lista-notas ul {
  list-style-type: none;
  padding: 0;
}

.lista-notas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.lista-notas span {
  flex: 1;
}

.lista-notas input {
  width: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
  color: #000; /* Color de texto negro para contraste */
}

input {
  display: block;
  width: calc(100% - 22px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #272626;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff; /* Color de texto negro para contraste */
}

button {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
